/.env
/test.py
/copy_bot.py
/ngrok.exe
badjokes_spaced.txt
badjokes.md
myJournal.txt
/src/.env
/src/badjokes.txt
__pycache__
/src/__pycache_
.vscode
src/functions/.vs/functions/v17/.suo
src/functions/.vs/functions/project-colors.json
src/functions/.vs/VSWorkspaceState.json
src/functions/.vs/slnx.sqlite
.vs/CIS4900/v17/.suo
.vs/CIS4900/project-colors.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
notes.txt
video/add_return.mp3
video/adding_factoids.mp3
video/and_there_you_have_it.mp3
video/closing_statement.mp3
video/confirmation_msgs.mp3
video/database.png
video/features_pt1.mp3
video/first_add.mp3
video/flask_logo.png
video/forget.mp3
video/github_jokes.png
video/google_translator_picture.png
video/internet.jpg
video/intro_slide_1.png
video/intro_slide_2.png
video/intro_slide_3.png
video/introduction_4900.mp3
video/introduction_bucket.mp3
video/introduction_technology.mp3
video/joke_generator.mp3
video/joke1.mp3
video/joke2.mp3
video/joke3.mp3
video/last_add_and_read_fail.mp3
video/last_add.mp3
video/local_host.jpg
video/msg_translator.mp3
video/mysql_python_connector.png
video/mySQL.png
video/ngrok_logo.png
video/openweather_logo.jpg
video/openweather-weather.mp4
video/pypi_logo.png
video/python_logo.png
video/read_or_write.png
video/request_logo.jpg
video/response_logo.jpg
video/Rest-API.png
video/Rest-API2.png
video/return_exact.mp3
video/return_factoids.mp3
video/return_factoidsv2.mp3
video/return_fail_next_add.mp3
video/robot_logo.jpg
video/robot1.png
video/robot2.png
video/robot3.png
video/robot4.png
video/robot5.png
video/robot6.png
video/robot7.png
video/robot8.png
video/robot9.png
video/second_add.mp3
video/server_logo.png
video/server_logo2.png
video/server-icon-on-white-background-vector.png
video/slack_logo-ebd02d1.svg
video/slack_logo.png
video/slack-animation.gif
video/slack-slash-add-and-return-factoid-example.mp4
video/slack-slash-add-factoids-failure.mp4
video/slack-slash-add-factoids-success.mp4
video/slack-slash-forget-factoids.mp4
video/slack-slash-help-v2.mp4
video/slack-slash-help.mp4
video/slack-slash-joke.mp4
video/slack-slash-return-factoids-failure.mp4
video/slack-slash-return-factoids-success.mp4
video/slack-slash-translate-enes.mp4
video/slack-slash-translate-enfr.mp4
video/slack-slash-weather.mp4
video/slackeventsapi_logo.png
video/sql_after.png
video/sql_before.png
video/technology_pt1.mp3
video/technology_pt2.mp3
video/tinsonbot....jpg
video/translate_enfr.mp3
video/tying_everything_together.png
video/weather_demo.mp3
video/weather_reporter.mp3
video/white_bg.png
video/xkcd_intro.png
xkcd_bot/bucket.yml
4900 - UPDATED MILESTONES.docx
4900_4910_Independent_Study_Proposal.docx
CIS4900 - Project Reflection.docx
CIS4900 - Project Reflection.pdf
myJournal.txt
whole lab meeting for some thursday.docx
slack_cleaner/cleaner.py
src/irc-server.py
src/irccat.py
video/4900 - Video Script.docx
video/4900_TinsonWang_VideoDemo.mov
